.spanSchedulingViewerBackground{
    height: fit-content;
    border-radius: 9px;
    border: 1px solid #EEEEEE;
    padding: 15px 10px 15px 30px;

    div:first-child{
        display: flex;

        img{
            padding: 5px;
            margin-left: auto;
            margin-bottom: -10px;
            cursor: pointer;
        }
    }

    h2{
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
    }

    p{
        font-size: 16px;
        color: #A8A8A8;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .divSchedulingInfo{
        align-items: center;
        display: flex;
        grid-gap: 10px;
        font-size: 16px;
        margin-top: 10px;
        text-transform: capitalize;

    }
}