.spanAttendantBackground{
    width: fit-content;
    display: grid;
    border-radius: 9px;
    border: 1px solid #EEEEEE;
    padding: 15px 30px;

    h1{
        font-size: 18px;
        margin: 0 0 5px 0;
    }
}